Server/IOGKFExams.Server.csproj.user
Server/IOGKFExams.Server.csproj.user
/Server/obj
/Server/obj
/Server/obj/Debug
/Server/obj/Debug/net9.0
Server/obj/Debug/net9.0/IOGKFExams.Server.sourcelink.json
Server/obj/Debug/net9.0/IOGKFExams.Server.csproj.AssemblyReference.cache
Server/obj/Debug/net9.0/IOGKFExams.Server.AssemblyInfoInputs.cache
Server/obj/Debug/net9.0/IOGKFExams.Server.AssemblyInfo.cs
/Client/obj
/Client/obj/Debug
/Client/obj/Debug/net9.0
.vs
Client/bin/
Server/bin/
